{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <style>
     body{
     background: url("/static/images/bg.jpg")50% no-repeat fixed;
     padding-left: 300px;
     }
    </style>
    <title>My Travel Explora</title>
    <link rel='stylesheet' href={% static 'css/style.css' %}>
</head>
<body>
<div class="col-md-6">
    <a href="acc/login/"><img id="a"src={% static "images/login.png" %} style="width:290px;height: 88px;padding-top: 450px;padding-left: 10px"></img></a>
    <a href="acc/"><img id="b" src={% static "images/register.jpg" %} style="width:270px;height: 75px;padding-top: 400px;padding-left: 60px;border-radius: 8px"></img></a>
</body>
</html>
